<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Swagger UI</title>
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/swagger-ui-dist@3.56.0/swagger-ui.css">
</head>
<body>
  <div id="swagger-ui"></div>

  <script src="/rocket-loader.min.js" data-cf-settings="f8e2afa9cd907fd74b366c61-|49" defer></script>
  
  <script>
    $(document).ready(function () {
      const ui = SwaggerUIBundle({
        url: "/spec.json", // Ganti dengan lokasi file JSON Anda
        dom_id: '#swagger-ui',
        presets: [
          SwaggerUIBundle.presets.apis,
          SwaggerUIBundle.SwaggerUIStandalonePreset
        ],
        layout: "BaseLayout",
      });
    });
  </script>
</body>
</html>