<!DOCTYPE html>
<html lang="en" class="cjxh5">

<head>
  <meta charset="utf-8">
  <title>RonzzAPI - Pricing</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://preview.cruip.com/stellar/css/vendors/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://preview.cruip.com/stellar/css/vendors/swiper-bundle.min.css">
  <link href="https://preview.cruip.com/stellar/style.css" rel="stylesheet">
  <script defer data-domain='preview.cruip.com,rollup.cruip.com'
    src='https://plausible.cruip.com/js/script.js'></script>
</head>

<body class="c54cm ctzj3 cp877 cbh0c c9xyi">

  <!-- Page wrapper -->
  <div class="clfoz cxmgp cwkat cg9hr citnk">

    <!-- Site header -->
    <header class="csbhs cpaw2 ctz8y">
      <div class="c7rlc ca7yh cxk7g c62s6">
        <div class="cu781 cta5t c7uhm citnk cqxtx">

          <!-- Site branding -->
          <div class="ceb4u">
            <!-- Logo -->
            <a class="c1ser" href="/" aria-label="Cruip">
              <img class="cw312" src="/image/favicon-96x96.png" width="38" height="38" alt="RonzzAPI">
            </a>
          </div>

          <!-- Desktop sign in links -->
          <ul class="cta5t cz2ij ceb4u citnk">
            <li class="cogux">
              <a class="cjg8t ce8dy cjhxf ccdmz cs6tu ckogm c8c0t chu7q cz8jp cscsd coh5f c4lt2 c36y6 cpaw2 c73l4"
                href="/dashboard">
                <span class="cta5t c1ser c4lt2">
                  Dashboard <span class="crls0 c4v48 c18jp c1nfs cz8jp cscsd cvpqc">-&gt;</span>
                </span>
              </a>
            </li>
          </ul>

        </div>
      </div>
    </header>

    <!-- Page content -->
    <main class="cih8s">

      <!-- Hero -->
      <section class="c4lt2">

        <!-- Radial gradient -->
        <div class="cdzmb ca1ms ch3pd cv6pf cq2iz cta5t caqr5 cq6fz csbhs c7anr cblyu citnk" aria-hidden="true">
          <div class="cje6l cg3aq ci4ze cku0c cvkuv csbhs cvjd3"></div>
          <div class="cg3aq csmir cltun cku0c cxixl csbhs cz52t cwi6g"></div>
        </div>

        <!-- Particles animation -->
        <div class="csbhs cvjd3 cblyu c5cj0" aria-hidden="true">
          <canvas data-particle-animation="" data-particle-quantity="15"></canvas>
        </div>

        <!-- Illustration -->
        <div class="cdzmb ca1ms cfmae cq6fz cstve csbhs c7v3c ccz65 cblyu" aria-hidden="true">
          <img src="https://preview.cruip.com/stellar/images/page-illustration.svg" class="cw312" width="1440"
            height="427" alt="Page Illustration">
        </div>

        <div class="c7rlc ca7yh cxk7g c62s6">
          <div class="cixuh cmma3 cbgsb c8230">

            <!-- Section header -->
            <div class="c0adw cjqw8 cpwbp">
              <div class="c80q8 crgfn cpvrw cic8n cnt4i c1ser cm2qf clj4z">RonzzAPI</div>
              <h1 class="chl73 c80q8 ch30f crgfn c9p57 cnt4i c6odu cgxy0">Flexible plans and features</h1>
              <div class="cpqxv cxk7g">
                <p class="c16mo csqzg">Find the plan that's right for you.</p>
              </div>
            </div>

            <!-- Pricing tabs -->
            <div class="c4lt2">
              <!-- Blurred shape -->
              <div class="cdzmb ca1ms c33s5 cxixl cfc6z csbhs cmjk5 c7v3c c7b27" aria-hidden="true">
                <svg xmlns="http://www.w3.org/2000/svg" width="434" height="427">
                  <defs>
                    <linearGradient id="bs5-a" x1="19.609%" x2="50%" y1="14.544%" y2="100%">
                      <stop offset="0%" stop-color="#A855F7"></stop>
                      <stop offset="100%" stop-color="#6366F1" stop-opacity="0"></stop>
                    </linearGradient>
                  </defs>
                  <path fill="url(#bs5-a)" fill-rule="evenodd" d="m661 736 461 369-284 58z"
                    transform="matrix(1 0 0 -1 -661 1163)"></path>
                </svg>
              </div>
              <!-- Content -->
              <div
                class="ct9b5 c6kur cf1st cdgbl ctowc cvzhj c4drf cmc8g c81rz c8e69 cxq7f c9dhc cihzy c9d9y c1tuk cf8e4 cplu2 cfuwu cqcd2 c7biy cdiex cgxlu cywh9 chxae cybrk cgma1 c80dw cvl90 c4cae co6zy"
                x-data="{ annual: true }">
                <!-- Pricing toggle -->
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="ch7ii cq91c cuzbn">
                    <!-- Toggle switch -->
                    <div class="cezm6">
                      <div class="cjqnf cta5t c1ser">
                        <div class="cwn78 c5668 cm2qf c4cae ceqx4">Monthly</div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Pro price -->
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="ch7ii c9q7k cmhzb cih8s c6odu">
                    <div class="c80q8 crgfn cpvrw cic8n cnt4i cm2qf cs8zh c1a0f">Free</div>
                    <div class="cebxn">
                      <span class="c5668 cm2qf csqzg">Rp</span><span class="cqbkb ca7kf c33xu">0</span><span
                        class="cqlbb cm2qf c4cae">/mo</span>
                    </div>
                    <div class="c5668">Everything at your fingertips.</div>
                  </div>
                  <div class="ch7ii c9q7k c6odu">
                    <a class="c80q8 c6hcd c7806 c83hg c4l4k cz8jp cscsd coh5f co1fu c36y6 cpaw2 c73l4"
                      href="/authentation">
                      Get Started <span class="crls0 c4v48 c18jp c1nfs cz8jp cscsd cvpqc">-&gt;</span>
                    </a>
                  </div>
                </div>
                <!-- Team price -->
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="ch7ii c9q7k cmhzb cih8s c6odu">
                    <div class="c80q8 crgfn cpvrw cic8n cnt4i cm2qf cs8zh c1a0f">Premium</div>
                    <div class="cebxn">
                      <span class="c5668 cm2qf csqzg">Rp</span><span class="cqbkb ca7kf c33xu">15.000</span><span
                        class="cqlbb cm2qf c4cae">/mo</span>
                    </div>
                    <div class="c5668">Everything at your fingertips.</div>
                  </div>
                  <div class="ch7ii c9q7k c6odu">
                    <a class="cif83 ci4ze cz8jp cscsd cters coh5f c36y6 cpaw2 c73l4"
                      href="https://wa.me/628817861263?text=permisi+kak+mau+upgrade+api+ke+premium">
                      Get Started <span class="crls0 c4v48 c18jp cj4ni cz8jp cscsd cvpqc">-&gt;</span>
                    </a>
                  </div>
                </div>
                <!-- Enterprise price -->
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="ch7ii c9q7k cmhzb cih8s c6odu">
                    <div class="c80q8 crgfn cpvrw cic8n cnt4i cm2qf cs8zh c1a0f">VIP</div>
                    <div class="cebxn">
                      <span class="c5668 cm2qf csqzg">Rp</span><span class="cqbkb ca7kf c33xu">20.000</span><span
                        class="cqlbb cm2qf c4cae">/mo</span>
                    </div>
                    <div class="c5668">Everything at your fingertips.</div>
                  </div>
                  <div class="ch7ii c9q7k c6odu">
                    <a class="c80q8 c6hcd c7806 c83hg c4l4k cz8jp cscsd coh5f co1fu c36y6 cpaw2 c73l4"
                      href="https://wa.me/628817861263?text=permisi+kak+mau+upgrade+api+ke+vip">
                      Get Started <span class="crls0 c4v48 c18jp c1nfs cz8jp cscsd cvpqc">-&gt;</span>
                    </a>
                  </div>
                </div>
                <!-- # Benefit -->
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="cqbkb cm2qf cy32n c405v">Benefit</div>
                </div>
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="cqbkb cm2qf c3odk cy32n c405v">Benefit</div>
                </div>
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="cqbkb cm2qf c3odk cy32n c405v">Benefit</div>
                </div>
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="cqbkb cm2qf c3odk cy32n c405v">Benefit</div>
                </div>
                <!-- Social Connections -->
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="ch7ii c16mo c9q7k c405v">API Limits</div>
                </div>
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="ch7ii c16mo cta5t c9q7k crsge citnk c405v">
                    <svg class="c6kwe clbq5 cuupb" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                      <path
                        d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z">
                      </path>
                    </svg>
                    <span>50/Days <span class="c3odk">API Limits</span></span>
                  </div>
                </div>
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="ch7ii c16mo cta5t c9q7k crsge citnk c405v">
                    <svg class="c6kwe clbq5 cuupb" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                      <path
                        d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z">
                      </path>
                    </svg>
                    <span>1000/Days <span class="c3odk">API Limits</span></span>
                  </div>
                </div>
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="ch7ii c16mo cta5t c9q7k crsge citnk c405v">
                    <svg class="c6kwe clbq5 cuupb" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                      <path
                        d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z">
                      </path>
                    </svg>
                    <span>Unlimited/Days <span class="c3odk">API Limits</span></span>
                  </div>
                </div>
                <!-- Custom Domains -->
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="ch7ii c16mo c9q7k c405v">Premium Features</div>
                </div>
                <div class="cz2ij cg9hr citnk c5dsy">
                </div>
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="ch7ii c16mo cta5t c9q7k crsge citnk c405v">
                    <svg class="c6kwe clbq5 cuupb" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                      <path
                        d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z">
                      </path>
                    </svg>
                    <span><span class="c3odk">Premium Features</span></span>
                  </div>
                </div>
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="ch7ii c16mo cta5t c9q7k crsge citnk c405v">
                    <svg class="c6kwe clbq5 cuupb" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                      <path
                        d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z">
                      </path>
                    </svg>
                    <span><span class="c3odk">Premium Features</span></span>
                  </div>
                </div>
                <!-- User Role Management -->
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="ch7ii c16mo c9q7k c405v">VIP Features</div>
                </div>
                <div class="cz2ij cg9hr citnk c5dsy">
                </div>
                <div class="cz2ij cg9hr citnk c5dsy">
                </div>
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="ch7ii c16mo cta5t c9q7k crsge citnk c405v">
                    <svg class="c6kwe clbq5 cuupb" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                      <path
                        d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z">
                      </path>
                    </svg>
                    <span><span class="c3odk">VIP Features</span></span>
                  </div>
                </div>
                <!-- External Databases -->
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="ch7ii c16mo c9q7k c405v">Expired</div>
                </div>
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="ch7ii c16mo cta5t c9q7k crsge citnk c405v">
                    <svg class="c6kwe clbq5 cuupb" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                      <path
                        d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z">
                      </path>
                    </svg>
                    <span>No Expired</span>
                  </div>
                </div>
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="ch7ii c16mo cta5t c9q7k crsge citnk c405v">
                    <svg class="c6kwe clbq5 cuupb" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                      <path
                        d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z">
                      </path>
                    </svg>
                    <span>Expired 1 Month</span>
                  </div>
                </div>
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="ch7ii c16mo cta5t c9q7k crsge citnk c405v">
                    <svg class="c6kwe clbq5 cuupb" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                      <path
                        d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z">
                      </path>
                    </svg>
                    <span>Expired 1 Month</span>
                  </div>
                </div>
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="ch7ii c16mo c9q7k c405v">Custom ApiKey</div>
                </div>
                <div class="cz2ij cg9hr citnk c5dsy">
                </div>
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="ch7ii c16mo cta5t c9q7k crsge citnk c405v">
                    <svg class="c6kwe clbq5 cuupb" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                      <path
                        d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z">
                      </path>
                    </svg>
                    <span><span class="c3odk">Custom ApiKey</span></span>
                  </div>
                </div>
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="ch7ii c16mo cta5t c9q7k crsge citnk c405v">
                    <svg class="c6kwe clbq5 cuupb" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                      <path
                        d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z">
                      </path>
                    </svg>
                    <span><span class="c3odk">Custom ApiKey</span></span>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </section>

    </main>

    <!-- Site footer -->
    <footer>
      <div class="c7rlc ca7yh cxk7g c62s6">

        <!-- Blocks -->
        <div class="cd7js c7052 c9xwv co6zy cm9vp">

          <!-- 1st block -->
          <div class="cl3r2 cben8 ccaj3 c65se">
            <div class="cu781 cg5wk ceta9 cg9hr crsge citnk">
              <div class="cdu7y cmhzb">
                <div class="cmhzb">
                  <!-- Logo -->
                  <a class="c1ser" href="/" aria-label="Cruip">
                    <img src="/image/favicon-96x96.png" width="38" height="38" alt="RonzzAPI">
                  </a>
                </div>
                <div class="chu7q c4cae">© RonzzAPI <span class="c5668">-</span> All rights reserved.</div>
              </div>
            </div>
          </div>

        </div>
    </footer>

  </div>

  <script src="https://preview.cruip.com/stellar/js/vendors/alpinejs.min.js" defer=""></script>
  <script src="https://preview.cruip.com/stellar/js/vendors/aos.js"></script>
  <script src="https://preview.cruip.com/stellar/js/vendors/swiper-bundle.min.js"></script>
  <script src="https://preview.cruip.com/stellar/js/main.js"></script>



</body>

</html>