<!DOCTYPE html>
<html lang="en" class="cjxh5">

<head>
  <meta charset="utf-8">
  <title>RonzzAPI - Home</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://preview.cruip.com/stellar//css/vendors/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://preview.cruip.com/stellar/css/vendors/swiper-bundle.min.css">
  <link href="https://preview.cruip.com/stellar/style.css" rel="stylesheet">
  <script defer data-domain='preview.cruip.com,rollup.cruip.com'
    src='https://plausible.cruip.com/js/script.js'></script>
</head>

<body class="c54cm ctzj3 cp877 cbh0c c9xyi">

  <!-- Page wrapper -->
  <div class="clfoz cxmgp cwkat cg9hr citnk">

    <!-- Site header -->
    <header class="csbhs cpaw2 ctz8y">
      <div class="c7rlc ca7yh cxk7g c62s6">
        <div class="cu781 cta5t c7uhm citnk cqxtx">

          <!-- Site branding -->
          <div class="ceb4u">
            <!-- Logo -->
            <a class="c1ser" href="/" aria-label="Cruip">
              <img class="cw312" src="/image/favicon-96x96.png" width="38" height="38"
                alt="RonzzAPI">
            </a>
          </div>

          <!-- Desktop sign in links -->
          <ul class="cta5t cz2ij ceb4u citnk">
            <li class="cogux">
              <a class="cjg8t ce8dy cjhxf ccdmz cs6tu ckogm c8c0t chu7q cz8jp cscsd coh5f c4lt2 c36y6 cpaw2 c73l4"
                href="/authentation">
                <span class="cta5t c1ser c4lt2">
                  Get Started <span class="crls0 c4v48 c18jp c1nfs cz8jp cscsd cvpqc">-&gt;</span>
                </span>
              </a>
            </li>
          </ul>

        </div>
      </div>
    </header>

    <!-- Page content -->
    <main class="cih8s">

      <!-- Hero -->
      <section>
        <div class="c7rlc c4lt2 ca7yh cxk7g c62s6">

          <!-- Particles animation -->
          <div class="csbhs cvjd3 cblyu" aria-hidden="true">
            <canvas data-particle-animation=""></canvas>
          </div>

          <!-- Illustration -->
          <div class="cdzmb cpl4a cxmgp csbhs cvjd3 ca0nu cblyu" aria-hidden="true">
            <div class="cdzmb cpl4a cxmgp csbhs cvjd3 ca0nu cblyu">
              <img src="https://preview.cruip.com/stellar/images/glow-top.svg" class="cw312" width="1404" height="658"
                alt="Features Illustration">
            </div>
          </div>

          <div class="cewgk cyuy9 cld13 c8230">

            <!-- Hero content -->
            <div class="c0adw cpqxv cxk7g">
              <div class="co2so" data-aos="fade-down">
                <div class="crcid ckogm c8c0t cdl1o c1ser c4lt2">
                  <a class="cwqjd ce8dy cvrd4 ccdmz cs6tu ckogm c8c0t chu7q cz8jp cscsd coh5f c4lt2 cekvg c36y6 cx431 c73l4"
                    href="/dashboard">
                    <span class="cta5t c1ser c4lt2">
                      RonzzAPI Dashboard <span class="crls0 c4v48 c18jp c1nfs cz8jp cscsd cvpqc">-&gt;</span>
                    </span>
                  </a>
                </div>
              </div>
              <h1 class="chl73 c80q8 ch30f crgfn c9p57 cnt4i c6odu cgxy0" data-aos="fade-down">RonzzAPI</h1>
              <p class="chu7q csqzg ci5zu" data-aos="fade-down" data-aos-delay="200">Provides various API needs such as download, converter, image processor, image maker, game username checker for web development, bot development, etc.</p>
              <div class="ccvp8 cje6z cjfu5 cqblm cpox8 cz7x6 c0fvl cxk7g" data-aos="fade-down" data-aos-delay="400">
                <div>
                  <a class="c80q8 c6hcd c7806 c83hg c4l4k cz8jp cscsd coh5f co1fu cpaw2 c73l4 cco90"
                    href="/authentation">
                    Get Started <span class="crls0 c4v48 c18jp c1nfs cz8jp cscsd cvpqc">-&gt;</span>
                  </a>
                </div>
              </div>

            </div>

          </div>

          <div class="cjqw8 cyuy9 cpwbp c5dbr">

            <div x-data="{ tab: '1' }">

              <!-- Section content -->
              <div class="cjklf cng6q cnei8 cj4ls cwj02 c0z63 cre2l c5ett cz0pw cg9hr cxk7g citnk">

                <!-- Content -->
                <div class="cezm6 cddom cpjot cxjps c65se" data-aos="fade-down">
                  <!-- Content #1 -->
                  <div>
                    <div class="c80q8 crgfn cpvrw cic8n cnt4i c1ser cm2qf clj4z">RonzzAPI</div>
                  </div>
                  <h3 class="chl73 c80q8 ch30f crgfn c9p57 cnt4i clj4z c78uk">About API</h3>
                  <p class="c16mo csqzg ci5zu">Our website is proud to present a diverse range of dependable and advanced Application Programming Interfaces (APIs) to meet various business and technical needs. Our comprehensive collection of APIs eliminates any confusion when searching for the perfect program interfaces..</p>
                  <div class="ckwe7 cmcd2 c0fvl cbg2n">
                    <button
                      class="c4h8f cpq1v cqbkb cta5t cz8jp cm2qf cscsd coh5f c90mn c4cae cpaw2 cb919 citnk c6rcm c405v"
                      :class="tab !== '1' ? 'cj4h1 ca93n' : 'ckqrw cx431 cl5ur'" @click.prevent="tab = '1'">
                      <svg class="c21kk clbq5 cuupb" xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                        <path
                          d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12Zm0 14V2H2v12h12Zm-3-7H5a1 1 0 1 1 0-2h6a1 1 0 0 1 0 2Zm0 4H5a1 1 0 0 1 0-2h6a1 1 0 0 1 0 2Z">
                        </path>
                      </svg>
                      <span>Using MongoDB database</span>
                    </button>
                    <button
                      class="c4h8f cpq1v cqbkb cta5t cz8jp cm2qf cscsd coh5f c90mn c4cae cpaw2 cb919 citnk c6rcm c405v"
                      :class="tab !== '2' ? 'cj4h1 ca93n' : 'ckqrw cx431 cl5ur'" @click.prevent="tab = '2'">
                      <svg class="c21kk clbq5 cuupb" xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                        <path
                          d="M2 6H0V2a2 2 0 0 1 2-2h4v2H2v4ZM16 6h-2V2h-4V0h4a2 2 0 0 1 2 2v4ZM14 16h-4v-2h4v-4h2v4a2 2 0 0 1-2 2ZM6 16H2a2 2 0 0 1-2-2v-4h2v4h4v2Z">
                        </path>
                      </svg>
                      <span>Using the Express JS library</span>
                    </button>
                    <button
                      class="c4h8f cpq1v cqbkb cta5t cz8jp cm2qf cscsd coh5f c90mn c4cae cpaw2 cb919 citnk c6rcm c405v"
                      :class="tab !== '3' ? 'cj4h1 ca93n' : 'ckqrw cx431 cl5ur'" @click.prevent="tab = '3'">
                      <svg class="c21kk clbq5 cuupb" xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                        <path
                          d="M14.3.3c.4-.4 1-.4 1.4 0 .4.4.4 1 0 1.4l-8 8c-.2.2-.4.3-.7.3-.3 0-.5-.1-.7-.3-.4-.4-.4-1 0-1.4l8-8ZM15 7c.6 0 1 .4 1 1 0 4.4-3.6 8-8 8s-8-3.6-8-8 3.6-8 8-8c.6 0 1 .4 1 1s-.4 1-1 1C4.7 2 2 4.7 2 8s2.7 6 6 6 6-2.7 6-6c0-.6.4-1 1-1Z">
                        </path>
                      </svg>
                      <span>Running on NodeJS</span>
                    </button>
                  </div>
                </div>

                <!-- Image -->
                <div class="cvv3w cxjps" data-aos="fade-up" data-aos-delay="100">
                  <div class="c4lt2 cu9si cn5u8">

                    <!-- Particles animation -->
                    <div class="csbhs cvjd3 cblyu">
                      <canvas data-particle-animation="" data-particle-quantity="8"
                        data-particle-staticity="30"></canvas>
                    </div>

                    <div class="cv6pf cta5t citnk">
                      <div class="cv6pf cta5t c4lt2 citnk ca3dp cnbly">
                        <!-- Halo effect -->
                        <svg class="cdibk cdzmb ca1ms ch3pd cq6fz c518d csbhs c5u3j cvjd3 c6jif" width="480"
                          height="480" viewBox="0 0 480 480" xmlns="http://www.w3.org/2000/svg">
                          <defs>
                            <linearGradient id="pulse-a" x1="50%" x2="50%" y1="100%" y2="0%">
                              <stop offset="0%" stop-color="#A855F7"></stop>
                              <stop offset="76.382%" stop-color="#FAF5FF"></stop>
                              <stop offset="100%" stop-color="#6366F1"></stop>
                            </linearGradient>
                          </defs>
                          <g fill-rule="evenodd">
                            <path class="c3wbi" fill="url(#pulse-a)" fill-rule="evenodd"
                              d="M240,0 C372.5484,0 480,107.4516 480,240 C480,372.5484 372.5484,480 240,480 C107.4516,480 0,372.5484 0,240 C0,107.4516 107.4516,0 240,0 Z M240,88.8 C156.4944,88.8 88.8,156.4944 88.8,240 C88.8,323.5056 156.4944,391.2 240,391.2 C323.5056,391.2 391.2,323.5056 391.2,240 C391.2,156.4944 323.5056,88.8 240,88.8 Z">
                            </path>
                            <path class="c6sru c3wbi" fill="url(#pulse-a)" fill-rule="evenodd"
                              d="M240,0 C372.5484,0 480,107.4516 480,240 C480,372.5484 372.5484,480 240,480 C107.4516,480 0,372.5484 0,240 C0,107.4516 107.4516,0 240,0 Z M240,88.8 C156.4944,88.8 88.8,156.4944 88.8,240 C88.8,323.5056 156.4944,391.2 240,391.2 C323.5056,391.2 391.2,323.5056 391.2,240 C391.2,156.4944 323.5056,88.8 240,88.8 Z">
                            </path>
                            <path class="chkdx c3wbi" fill="url(#pulse-a)" fill-rule="evenodd"
                              d="M240,0 C372.5484,0 480,107.4516 480,240 C480,372.5484 372.5484,480 240,480 C107.4516,480 0,372.5484 0,240 C0,107.4516 107.4516,0 240,0 Z M240,88.8 C156.4944,88.8 88.8,156.4944 88.8,240 C88.8,323.5056 156.4944,391.2 240,391.2 C323.5056,391.2 391.2,323.5056 391.2,240 C391.2,156.4944 323.5056,88.8 240,88.8 Z">
                            </path>
                          </g>
                        </svg>
                        <!-- Grid -->
                        <div class="c9prb cdzmb ca1ms ch3pd cxmgp cku0c coo61 cby26 cq6fz c518d csbhs c5u3j cvjd3">
                          <div class="cvsez cr959">
                            <div class="c2t07 cczds cxm3k csbhs cvjd3"></div>
                            <div class="ctl9n csbhs cvjd3"></div>
                            <div class="csqkd cczds cxm3k csbhs cvjd3"></div>
                            <div class="cbn6o csbhs cvjd3"></div>
                          </div>
                        </div>
                        <!-- Icons -->
                        <div x-show="tab === '1'" x-transition:enter="coh5f cllip cdmt4 ceqn3"
                          x-transition:enter-start="cwshc co0cs" x-transition:enter-end="c5an1 cuql2"
                          x-transition:leave="coh5f cllip cdmt4 csbhs" x-transition:leave-start="c5an1 cuql2"
                          x-transition:leave-end="cwshc cu1sn">
                          <div
                            class="cjg8t cjhxf c115b cn0tc cgr36 ckogm c8c0t cv6pf cta5t cvotd c5cyt c4lt2 cb919 citnk cqxtx ci523">
                            <svg class="c7u3b c4lt2" xmlns="http://www.w3.org/2000/svg" width="23" height="25">
                              <path fill-rule="nonzero"
                                d="M10.55 15.91H.442L14.153.826 12.856 9.91h10.107L9.253 24.991l1.297-9.082Zm.702-8.919L4.963 13.91h7.893l-.703 4.918 6.289-6.918H10.55l.702-4.918Z">
                              </path>
                            </svg>
                          </div>
                        </div>
                        <div x-show="tab === '2'" x-transition:enter="coh5f cllip cdmt4 ceqn3"
                          x-transition:enter-start="cwshc co0cs" x-transition:enter-end="c5an1 cuql2"
                          x-transition:leave="coh5f cllip cdmt4 csbhs" x-transition:leave-start="c5an1 cuql2"
                          x-transition:leave-end="cwshc cu1sn">
                          <div
                            class="cjg8t cjhxf c115b cn0tc cgr36 ckogm c8c0t cv6pf cta5t cvotd c5cyt c4lt2 cb919 citnk cqxtx ci523">
                            <svg class="c7u3b c4lt2" xmlns="http://www.w3.org/2000/svg" width="22" height="22">
                              <path
                                d="M18 14h-2V8h2c2.2 0 4-1.8 4-4s-1.8-4-4-4-4 1.8-4 4v2H8V4c0-2.2-1.8-4-4-4S0 1.8 0 4s1.8 4 4 4h2v6H4c-2.2 0-4 1.8-4 4s1.8 4 4 4 4-1.8 4-4v-2h6v2c0 2.2 1.8 4 4 4s4-1.8 4-4-1.8-4-4-4ZM16 4c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2h-2V4ZM2 4c0-1.1.9-2 2-2s2 .9 2 2v2H4c-1.1 0-2-.9-2-2Zm4 14c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2h2v2ZM8 8h6v6H8V8Zm10 12c-1.1 0-2-.9-2-2v-2h2c1.1 0 2 .9 2 2s-.9 2-2 2Z">
                              </path>
                            </svg>
                          </div>
                        </div>
                        <div x-show="tab === '3'" x-transition:enter="coh5f cllip cdmt4 ceqn3"
                          x-transition:enter-start="cwshc co0cs" x-transition:enter-end="c5an1 cuql2"
                          x-transition:leave="coh5f cllip cdmt4 csbhs" x-transition:leave-start="c5an1 cuql2"
                          x-transition:leave-end="cwshc cu1sn">
                          <div
                            class="cjg8t cjhxf c115b cn0tc cgr36 ckogm c8c0t cv6pf cta5t cvotd c5cyt c4lt2 cb919 citnk cqxtx ci523">
                            <svg class="c7u3b c4lt2" xmlns="http://www.w3.org/2000/svg" width="26" height="14">
                              <path fill-rule="nonzero" d="m10 5.414-8 8L.586 12 10 2.586l6 6 8-8L25.414 2 16 11.414z">
                              </path>
                            </svg>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>

          </div>
        </div>
      </section>

      <!-- Features #2 -->
      <section class="c4lt2">

        <!-- Particles animation -->
        <div class="ca1ms cq6fz csbhs ckg9q covvq c7anr cblyu cikgi cc2rp">
          <div class="csbhs cvjd3 cblyu" aria-hidden="true">
            <canvas data-particle-animation="" data-particle-quantity="6" data-particle-staticity="30"></canvas>
          </div>
        </div>

        <div class="c7rlc ca7yh cxk7g c62s6">
          <div class="c33zk c5dbr">

            <!-- Section header -->
            <div class="c0adw cpqxv cjqw8 cxk7g cpwbp">
              <h2 class="chl73 c80q8 ch30f crgfn c9p57 cnt4i c6odu c3myr">Faster. Smarter.</h2>
              <p class="c16mo csqzg">There are many features that can be used well, quickly and optimally.</p>
            </div>

            <!-- Highlighted boxes -->
            <div class="cjqw8 c4lt2 cpwbp">
              <!-- Blurred shape -->
              <div class="cdzmb ca1ms ca93n cq6fz csbhs cmjk5 c7v3c c7b27" aria-hidden="true">
                <svg xmlns="http://www.w3.org/2000/svg" width="434" height="427">
                  <defs>
                    <linearGradient id="bs2-a" x1="19.609%" x2="50%" y1="14.544%" y2="100%">
                      <stop offset="0%" stop-color="#6366F1"></stop>
                      <stop offset="100%" stop-color="#6366F1" stop-opacity="0"></stop>
                    </linearGradient>
                  </defs>
                  <path fill="url(#bs2-a)" fill-rule="evenodd" d="m346 898 461 369-284 58z"
                    transform="translate(-346 -898)"></path>
                </svg>
              </div>
              <!-- Grid -->
              <div class="c1956 cvby4 c73l4 co6zy" data-highlighter="">
                <!-- Box #1 -->
                <div class="czi3f" data-aos="fade-down">
                  <div
                    class="c834w c2dmz cgj2h cj3ir ce8dy cck46 c82g2 csey4 cjvxe cjijg crcid ccdmz c40tf csdod coafw ckogm cpspx ca3hu cxmgp c3stx cvgwp ct4qk cvu3y cmgcy czde0 c45mq cww8d cnhmh c4lt2 crsge c2zs5">
                    <div class="cgq9w cxmgp cp877 c4lt2 crsge cdmuy">
                      <div class="c1yms ccgia cre2l cg9hr citnk">
                        <!-- Blurred shape -->
                        <div class="csbhs c7v3c cigzm c7anr" aria-hidden="true">
                          <svg xmlns="http://www.w3.org/2000/svg" width="342" height="393">
                            <defs>
                              <linearGradient id="bs-a" x1="19.609%" x2="50%" y1="14.544%" y2="100%">
                                <stop offset="0%" stop-color="#6366F1"></stop>
                                <stop offset="100%" stop-color="#6366F1" stop-opacity="0"></stop>
                              </linearGradient>
                            </defs>
                            <path fill="url(#bs-a)" fill-rule="evenodd" d="m104 .827 461 369-284 58z"
                              transform="translate(0 -112.827)" opacity=".7"></path>
                          </svg>
                        </div>
                        <!-- Radial gradient -->
                        <div class="cdzmb ca1ms chdke cv6pf cq2iz cta5t cq6fz csbhs cmjk5 crsge cblyu citnk"
                          aria-hidden="true">
                          <div class="cje6l cg3aq ci4ze cku0c cxixl csbhs cvjd3"></div>
                          <div class="cg3aq csmir crzj1 cku0c csbhs cl6o6 cf1rh"></div>
                        </div>


                        <!-- Text -->
                        <div class="c5gc3 cddom clbq5 cqhxk c65se ce36o c4li3 c7o7e">
                          <div class="cfxdw">
                            <div>
                              <h3 class="chl73 c80q8 ch30f crgfn c9p57 cnt4i c1ser ca7kf c50uv cx5kh">Optimized for features</h3>
                              <p class="c16mo">Optimized for user experience in using various features.
                              </p>
                            </div>
                          </div>
                        </div>
                        <!-- Image -->
                        <div class="cxmgp ctb00 c4lt2 cpaw2 cz52t">
                          <img class="ca1ms cvkzz crepj cw312 c386c cq6fz csbhs cmjk5 cxk7g"
                            src="https://preview.cruip.com/stellar/images/feature-image-01.png" width="504" height="400"
                            alt="Feature 01">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Box #2 -->
                <div class="c5hqs" data-aos="fade-down">
                  <div
                    class="c834w c2dmz cgj2h cj3ir ce8dy cck46 c82g2 csey4 cjvxe cjijg crcid ccdmz c40tf csdod coafw ckogm cpspx ca3hu cxmgp c3stx cvgwp ct4qk cvu3y cmgcy czde0 c45mq cww8d cnhmh c4lt2 crsge c2zs5">
                    <div class="cgq9w cxmgp cp877 c4lt2 crsge cdmuy">
                      <div class="cg9hr citnk">
                        <!-- Radial gradient -->
                        <div class="cdzmb ca1ms chdke cq2iz cq6fz csbhs cmjk5 cvh7j cblyu" aria-hidden="true">
                          <div class="cg3aq cltun cku0c cvu3y csbhs cvjd3"></div>
                        </div>
                        <!-- Text -->
                        <div class="c5gc3 cddom clbq5 c65se ce36o c4li3 c7o7e">
                          <div>
                            <h3 class="chl73 c80q8 ch30f crgfn c9p57 cnt4i c1ser ca7kf c50uv cx5kh">Extensibility</h3>
                            <p class="c16mo">The plan you purchased can be extended at will.</p>
                          </div>
                        </div>
                        <!-- Image -->
                        <div class="cxmgp ctb00 c4lt2 cgq2r cpaw2 cz52t">
                          <img class="ca1ms cvkzz cdco4 crepj cw312 c386c cq6fz csbhs cmjk5 cxk7g"
                            src="https://preview.cruip.com/stellar/images/feature-image-02.png" width="536" height="230"
                            alt="Feature 02">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Box #3 -->
                <div class="co9gp" data-aos="fade-down">
                  <div
                    class="c834w c2dmz cgj2h cj3ir ce8dy cck46 c82g2 csey4 cjvxe cjijg crcid ccdmz c40tf csdod coafw ckogm cpspx ca3hu cxmgp c3stx cvgwp ct4qk cvu3y cmgcy czde0 c45mq cww8d cnhmh c4lt2 crsge c2zs5">
                    <div class="cgq9w cxmgp cp877 c4lt2 crsge cdmuy">
                      <div class="cg9hr citnk">
                        <!-- Radial gradient -->
                        <div class="cdzmb ca1ms chdke cq2iz cq6fz csbhs cmjk5 cvh7j cblyu" aria-hidden="true">
                          <div class="cg3aq cltun cku0c cvu3y csbhs cvjd3"></div>
                        </div>
                        <!-- Text -->
                        <div class="c5gc3 cddom clbq5 c65se ce36o c4li3 c7o7e">
                          <div>
                            <h3 class="chl73 c80q8 ch30f crgfn c9p57 cnt4i c1ser ca7kf c50uv cx5kh">Infinite options
                            </h3>
                            <p class="c16mo">There are many features that you can use in RonzzAPI.
                            </p>
                          </div>
                        </div>
                        <!-- Image -->
                        <div class="cxmgp ctb00 c4lt2 cgq2r cpaw2 cz52t">
                          <img class="ca1ms cvkzz cdco4 crepj cw312 c386c cq6fz csbhs cmjk5 cxk7g"
                            src="https://preview.cruip.com/stellar/images/feature-image-03.png" width="230" height="230"
                            alt="Feature 03">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>

      <!-- Testimonials carousel -->
      <section>
        <div class="c7rlc ca7yh cxk7g c62s6">
          <div class="c60je cvfhv">

            <!-- Section header -->
            <div class="c0adw cpqxv cjqw8 cxk7g cpwbp">
              <div>
                <div class="c80q8 crgfn cpvrw cic8n cnt4i c1ser cm2qf clj4z">RonzzAPI</div>
              </div>
              <h2 class="chl73 c80q8 ch30f crgfn c9p57 cnt4i c6odu c3myr">Can be integrated</h2>
              <p class="c16mo csqzg">Can be integrated into various bots, such as WhatsApp bots, Telegram bots, etc.</p>
            </div>

            <!-- Carousel built with Swiper.js [https://swiperjs.com/] -->
            <!-- * Initialized in src/js/main.js -->
            <!-- * Custom styles in src/css/additional-styles/theme.scss -->
            <div
              class="cexs9 czr3h c1t5i cisme csvzg c7ptl cctzk c5z0b ckogm c8c0t c2fmr cvgwp ct4qk c3qgn cv8nf cboss c4lt2">
              <div class="stellar-carousel swiper-container c73l4">
                <div class="swiper-wrapper cjinm" data-highlighter="">
                  <!-- Carousel items -->
                  <div
                    class="swiper-slide c834w c2dmz cgj2h cj3ir ce8dy cck46 c82g2 csey4 cjvxe cjijg crcid ccdmz c40tf csdod coafw ckogm cpspx ca3hu cxmgp c3stx cvgwp ct4qk cvu3y cmgcy czde0 c45mq cq4tu cww8d cnhmh c4lt2 ckkoj c2zs5">
                    <div class="cgq9w cxmgp cp877 c4lt2 crsge cdmuy">
                      <!-- Particles animation -->
                      <div class="cvzw6 cojpw cxz9d cae07 cscsd cwshc csbhs cvjd3 cblyu" aria-hidden="true">
                        <canvas data-particle-animation="" data-particle-quantity="3"></canvas>
                      </div>
                      <!-- Radial gradient -->
                      <div class="cdzmb ca1ms chdke cq2iz cq6fz csbhs cmjk5 cu6vf cblyu" aria-hidden="true">
                        <div class="caaiz cn5ru cg3aq c4ftj cku0c cvu3y cae07 cscsd csbhs cvjd3"></div>
                      </div>
                      <div class="cg9hr crsge citnk c7o7e">
                        <img class="cpgza" src="https://preview.cruip.com/stellar/images/carousel-icon-01.svg"
                          width="56" height="56" alt="Icon 01">
                        <div class="cih8s">
                          <div class="ca7kf csqzg cebxn">Anonymous User</div>
                          <div class="c16mo cpgza">Incorporate rich user profiling, and facilitate more features.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="swiper-slide c834w c2dmz cgj2h cj3ir ce8dy cck46 c82g2 csey4 cjvxe cjijg crcid ccdmz c40tf csdod coafw ckogm cpspx ca3hu cxmgp c3stx cvgwp ct4qk cvu3y cmgcy czde0 c45mq cq4tu cww8d cnhmh c4lt2 ckkoj c2zs5">
                    <div class="cgq9w cxmgp cp877 c4lt2 crsge cdmuy">
                      <!-- Particles animation -->
                      <div class="cvzw6 cojpw cxz9d cae07 cscsd cwshc csbhs cvjd3 cblyu" aria-hidden="true">
                        <canvas data-particle-animation="" data-particle-quantity="3"></canvas>
                      </div>
                      <!-- Radial gradient -->
                      <div class="cdzmb ca1ms chdke cq2iz cq6fz csbhs cmjk5 cu6vf cblyu" aria-hidden="true">
                        <div class="caaiz cn5ru cg3aq c4ftj cku0c cvu3y cae07 cscsd csbhs cvjd3"></div>
                      </div>
                      <div class="cg9hr crsge citnk c7o7e">
                        <img class="cpgza" src="https://preview.cruip.com/stellar/images/carousel-icon-02.svg"
                          width="56" height="56" alt="Icon 01">
                        <div class="cih8s">
                          <div class="ca7kf csqzg cebxn">Bot Integrations</div>
                          <div class="c16mo cpgza">Can be integrated into WhatsApp bots, Telegram bots, etc.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="swiper-slide c834w c2dmz cgj2h cj3ir ce8dy cck46 c82g2 csey4 cjvxe cjijg crcid ccdmz c40tf csdod coafw ckogm cpspx ca3hu cxmgp c3stx cvgwp ct4qk cvu3y cmgcy czde0 c45mq cq4tu cww8d cnhmh c4lt2 ckkoj c2zs5">
                    <div class="cgq9w cxmgp cp877 c4lt2 crsge cdmuy">
                      <!-- Particles animation -->
                      <div class="cvzw6 cojpw cxz9d cae07 cscsd cwshc csbhs cvjd3 cblyu" aria-hidden="true">
                        <canvas data-particle-animation="" data-particle-quantity="3"></canvas>
                      </div>
                      <!-- Radial gradient -->
                      <div class="cdzmb ca1ms chdke cq2iz cq6fz csbhs cmjk5 cu6vf cblyu" aria-hidden="true">
                        <div class="caaiz cn5ru cg3aq c4ftj cku0c cvu3y cae07 cscsd csbhs cvjd3"></div>
                      </div>
                      <div class="cg9hr crsge citnk c7o7e">
                        <img class="cpgza" src="https://preview.cruip.com/stellar/images/carousel-icon-03.svg"
                          width="56" height="56" alt="Icon 01">
                        <div class="cih8s">
                          <div class="ca7kf csqzg cebxn">Secure Access</div>
                          <div class="c16mo cpgza">Your personal data will be safe from Admin.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Arrows -->
            <div class="cz2ij cbg2n citnk">
              <button class="carousel-prev cv6pf cta5t c4lt2 c73l4 cdmuy citnk ce196 cb0yq">
                <span class="c6qme">Previous</span>
                <svg class="chszh cp2ik cz8jp cscsd coh5f cppgq cchn9" viewBox="0 0 16 16"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.7 14.7l1.4-1.4L3.8 9H16V7H3.8l4.3-4.3-1.4-1.4L0 8z"></path>
                </svg>
              </button>
              <button class="carousel-next cv6pf cta5t c4lt2 c73l4 cdmuy citnk ce196 cb0yq">
                <span class="c6qme">Next</span>
                <svg class="chszh cp2ik cz8jp cscsd coh5f cppgq cchn9" viewBox="0 0 16 16"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.3 14.7l-1.4-1.4L12.2 9H0V7h12.2L7.9 2.7l1.4-1.4L16 8z"></path>
                </svg>
              </button>
            </div>

          </div>
        </div>
      </section>

      <!-- Features #4 -->
      <section class="c4lt2">
        <div class="c7rlc c4lt2 ca7yh cxk7g c62s6">

          <!-- Blurred shape -->
          <div class="cdzmb cxixl csbhs c7v3c cr8kn c239i covvq c7anr cblyu" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="434" height="427">
              <defs>
                <linearGradient id="bs4-a" x1="19.609%" x2="50%" y1="14.544%" y2="100%">
                  <stop offset="0%" stop-color="#A855F7"></stop>
                  <stop offset="100%" stop-color="#6366F1" stop-opacity="0"></stop>
                </linearGradient>
              </defs>
              <path fill="url(#bs4-a)" fill-rule="evenodd" d="m0 0 461 369-284 58z" transform="matrix(1 0 0 -1 0 427)">
              </path>
            </svg>
          </div>

          <div class="cjqw8 c33zk cpwbp c5dbr">

            <!-- Section header -->
            <div class="cpqxv cjqw8 cpwbp">
              <h2 class="chl73 c80q8 ch30f crgfn c9p57 cnt4i c6odu c3myr">Why trust us?</h2>
              <p class="c16mo csqzg">Many interesting, cool features that can be used anywhere.</p>
            </div>

          </div>
        </div>
      </section>

      <!-- Pricing -->
      <section class="c4lt2">
        <!-- Radial gradient -->
        <div class="cdzmb cxmgp csbhs cvjd3 cblyu" aria-hidden="true">
          <div class="ca1ms ch3pd cv6pf cq2iz cta5t cq6fz csbhs cu6vf c7anr citnk">
            <div class="cje6l cg3aq ci4ze cku0c ca93n csbhs cvjd3"></div>
          </div>
        </div>
        <div class="c7rlc ca7yh cxk7g c62s6">
          <div class="ct20k clyt5">
            <!-- Content -->
            <div class="c0adw cpqxv cjqw8 cxk7g cpwbp">
              <div>
                <div class="c80q8 crgfn cpvrw cic8n cnt4i c1ser cm2qf clj4z">Pricing plans</div>
              </div>
              <h2 class="chl73 c80q8 ch30f crgfn c9p57 cnt4i c6odu c3myr">Flexible plans and features</h2>
              <p class="c16mo csqzg">Find the plan that's right for you.</p>
            </div>
            <!-- Pricing tabs -->
            <div class="c4lt2">
              <!-- Blurred shape -->
              <div class="cdzmb ca1ms c33s5 cxixl cfc6z csbhs cmjk5 c7v3c c7b27" aria-hidden="true">
                <svg xmlns="http://www.w3.org/2000/svg" width="434" height="427">
                  <defs>
                    <linearGradient id="bs5-a" x1="19.609%" x2="50%" y1="14.544%" y2="100%">
                      <stop offset="0%" stop-color="#A855F7"></stop>
                      <stop offset="100%" stop-color="#6366F1" stop-opacity="0"></stop>
                    </linearGradient>
                  </defs>
                  <path fill="url(#bs5-a)" fill-rule="evenodd" d="m661 736 461 369-284 58z"
                    transform="matrix(1 0 0 -1 -661 1163)"></path>
                </svg>
              </div>
              <!-- Content -->
              <div
                class="ct9b5 c6kur cf1st cdgbl ctowc cvzhj c4drf cmc8g c81rz c8e69 cxq7f c9dhc cihzy c9d9y c1tuk cf8e4 cplu2 cfuwu cqcd2 c7biy cdiex cgxlu cywh9 chxae cybrk cgma1 c80dw cvl90 c4cae co6zy"
                x-data="{ annual: true }">
                <!-- Pricing toggle -->
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="ch7ii cq91c cuzbn">
                    <!-- Toggle switch -->
                    <div class="cezm6">
                      <div class="cjqnf cta5t c1ser">
                        <div class="cwn78 c5668 cm2qf c4cae ceqx4">Monthly</div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Pro price -->
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="ch7ii c9q7k cmhzb cih8s c6odu">
                    <div class="c80q8 crgfn cpvrw cic8n cnt4i cm2qf cs8zh c1a0f">Free</div>
                    <div class="cebxn">
                      <span class="c5668 cm2qf csqzg">Rp</span><span class="cqbkb ca7kf c33xu">0</span><span
                        class="cqlbb cm2qf c4cae">/mo</span>
                    </div>
                    <div class="c5668">Everything at your fingertips.</div>
                  </div>
                  <div class="ch7ii c9q7k c6odu">
                    <a class="c80q8 c6hcd c7806 c83hg c4l4k cz8jp cscsd coh5f co1fu c36y6 cpaw2 c73l4"
                      href="/authentation">
                      Get Started <span class="crls0 c4v48 c18jp c1nfs cz8jp cscsd cvpqc">-&gt;</span>
                    </a>
                  </div>
                </div>
                <!-- Team price -->
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="ch7ii c9q7k cmhzb cih8s c6odu">
                    <div class="c80q8 crgfn cpvrw cic8n cnt4i cm2qf cs8zh c1a0f">Premium</div>
                    <div class="cebxn">
                      <span class="c5668 cm2qf csqzg">Rp</span><span class="cqbkb ca7kf c33xu">15.000</span><span
                        class="cqlbb cm2qf c4cae">/mo</span>
                    </div>
                    <div class="c5668">Everything at your fingertips.</div>
                  </div>
                  <div class="ch7ii c9q7k c6odu">
                    <a class="cif83 ci4ze cz8jp cscsd cters coh5f c36y6 cpaw2 c73l4"
                      href="https://wa.me/628817861263?text=permisi+kak+mau+upgrade+api+ke+premium">
                      Get Started <span class="crls0 c4v48 c18jp cj4ni cz8jp cscsd cvpqc">-&gt;</span>
                    </a>
                  </div>
                </div>
                <!-- Enterprise price -->
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="ch7ii c9q7k cmhzb cih8s c6odu">
                    <div class="c80q8 crgfn cpvrw cic8n cnt4i cm2qf cs8zh c1a0f">VIP</div>
                    <div class="cebxn">
                      <span class="c5668 cm2qf csqzg">Rp</span><span class="cqbkb ca7kf c33xu">20.000</span><span
                        class="cqlbb cm2qf c4cae">/mo</span>
                    </div>
                    <div class="c5668">Everything at your fingertips.</div>
                  </div>
                  <div class="ch7ii c9q7k c6odu">
                    <a class="c80q8 c6hcd c7806 c83hg c4l4k cz8jp cscsd coh5f co1fu c36y6 cpaw2 c73l4"
                      href="https://wa.me/628817861263?text=permisi+kak+mau+upgrade+api+ke+vip">
                      Get Started <span class="crls0 c4v48 c18jp c1nfs cz8jp cscsd cvpqc">-&gt;</span>
                    </a>
                  </div>
                </div>
                <!-- # Benefit -->
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="cqbkb cm2qf cy32n c405v">Benefit</div>
                </div>
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="cqbkb cm2qf c3odk cy32n c405v">Benefit</div>
                </div>
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="cqbkb cm2qf c3odk cy32n c405v">Benefit</div>
                </div>
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="cqbkb cm2qf c3odk cy32n c405v">Benefit</div>
                </div>
                <!-- Social Connections -->
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="ch7ii c16mo c9q7k c405v">API Limits</div>
                </div>
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="ch7ii c16mo cta5t c9q7k crsge citnk c405v">
                    <svg class="c6kwe clbq5 cuupb" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                      <path
                        d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z">
                      </path>
                    </svg>
                    <span>25/Days <span class="c3odk">API Limits</span></span>
                  </div>
                </div>
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="ch7ii c16mo cta5t c9q7k crsge citnk c405v">
                    <svg class="c6kwe clbq5 cuupb" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                      <path
                        d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z">
                      </path>
                    </svg>
                    <span>1000/Days <span class="c3odk">API Limits</span></span>
                  </div>
                </div>
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="ch7ii c16mo cta5t c9q7k crsge citnk c405v">
                    <svg class="c6kwe clbq5 cuupb" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                      <path
                        d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z">
                      </path>
                    </svg>
                    <span>Unlimited/Days <span class="c3odk">API Limits</span></span>
                  </div>
                </div>
                <!-- Custom Domains -->
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="ch7ii c16mo c9q7k c405v">Premium Features</div>
                </div>
                <div class="cz2ij cg9hr citnk c5dsy">
                </div>
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="ch7ii c16mo cta5t c9q7k crsge citnk c405v">
                    <svg class="c6kwe clbq5 cuupb" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                      <path
                        d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z">
                      </path>
                    </svg>
                    <span><span class="c3odk">Premium Features</span></span>
                  </div>
                </div>
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="ch7ii c16mo cta5t c9q7k crsge citnk c405v">
                    <svg class="c6kwe clbq5 cuupb" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                      <path
                        d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z">
                      </path>
                    </svg>
                    <span><span class="c3odk">Premium Features</span></span>
                  </div>
                </div>
                <!-- User Role Management -->
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="ch7ii c16mo c9q7k c405v">VIP Features</div>
                </div>
                <div class="cz2ij cg9hr citnk c5dsy">
                </div>
                <div class="cz2ij cg9hr citnk c5dsy">
                </div>
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="ch7ii c16mo cta5t c9q7k crsge citnk c405v">
                    <svg class="c6kwe clbq5 cuupb" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                      <path
                        d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z">
                      </path>
                    </svg>
                    <span><span class="c3odk">VIP Features</span></span>
                  </div>
                </div>
                <!-- External Databases -->
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="ch7ii c16mo c9q7k c405v">Expired</div>
                </div>
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="ch7ii c16mo cta5t c9q7k crsge citnk c405v">
                    <svg class="c6kwe clbq5 cuupb" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                      <path
                        d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z">
                      </path>
                    </svg>
                    <span>No Expired</span>
                  </div>
                </div>
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="ch7ii c16mo cta5t c9q7k crsge citnk c405v">
                    <svg class="c6kwe clbq5 cuupb" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                      <path
                        d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z">
                      </path>
                    </svg>
                    <span>Expired 1 Month</span>
                  </div>
                </div>
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="ch7ii c16mo cta5t c9q7k crsge citnk c405v">
                    <svg class="c6kwe clbq5 cuupb" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                      <path
                        d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z">
                      </path>
                    </svg>
                    <span>Expired 1 Month</span>
                  </div>
                </div>
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="ch7ii c16mo c9q7k c405v">Custom ApiKey</div>
                </div>
                <div class="cz2ij cg9hr citnk c5dsy">
                </div>
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="ch7ii c16mo cta5t c9q7k crsge citnk c405v">
                    <svg class="c6kwe clbq5 cuupb" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                      <path
                        d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z">
                      </path>
                    </svg>
                    <span><span class="c3odk">Custom ApiKey</span></span>
                  </div>
                </div>
                <div class="cz2ij cg9hr citnk c5dsy">
                  <div class="ch7ii c16mo cta5t c9q7k crsge citnk c405v">
                    <svg class="c6kwe clbq5 cuupb" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                      <path
                        d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z">
                      </path>
                    </svg>
                    <span><span class="c3odk">Custom ApiKey</span></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </main>

    <!-- Site footer -->
    <footer>
      <div class="c7rlc ca7yh cxk7g c62s6">

        <!-- Blocks -->
        <div class="cd7js c7052 c9xwv co6zy cm9vp">

          <!-- 1st block -->
          <div class="cl3r2 cben8 ccaj3 c65se">
            <div class="cu781 cg5wk ceta9 cg9hr crsge citnk">
              <div class="cdu7y cmhzb">
                <div class="cmhzb">
                  <!-- Logo -->
                  <a class="c1ser" href="/" aria-label="Cruip">
                    <img src="/image/favicon-96x96.png" width="38" height="38" alt="RonzzAPI">
                  </a>
                </div>
                <div class="chu7q c4cae">© RonzzAPI <span class="c5668">-</span> All rights reserved.</div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </footer>

  </div>

  <script src="https://preview.cruip.com/stellar/js/vendors/alpinejs.min.js" defer=""></script>
  <script src="https://preview.cruip.com/stellar/js/vendors/aos.js"></script>
  <script src="https://preview.cruip.com/stellar/js/vendors/swiper-bundle.min.js"></script>
  <script src="https://preview.cruip.com/stellar/js/main.js"></script>




</body>

</html>